
.delante-opaco {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 1;
}

.fondo {
    position: relative;
    z-index: 0;
}

.badge {
    font-weight: bold;
}

.subrayado-punteado {

    text-decoration-line: underline;
    text-decoration-style: dotted;
}

.verde {
    background-color: yellowgreen;
    color: white;
}

.verde:hover {
    background-color: green;
    color: white;
}

.azul {
    background-color: steelblue;
    height: 8em;
}

footer a {
    text-decoration: none;
    color: white;
}

main {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;

}
.entradas {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 12px;

}
.ticket {
    margin: 12px auto;
    width: 300px;   
}
.venta-title {
    text-align: center;
    margin-top: 12px;
    margin-bottom: 12px;
}